.main {
  height: calc(100vh - 160px);
  overflow-y: auto;
}

@media all and (min-width: 360px) {
  .main {
    height: calc(100vh - 133px);
  }
}

@media all and (min-width: 768px) {
  .main {
    height: calc(100vh - 84px);
  }
}
